/* Start Variables */
:root {
  --main-color-700: #026aa2;
  --second-color: #dff1fe;
  --red-color: #ff0000d2;
  --gray-color-400: #afafaf;
  --gray-color-700: #515151;
  --gray-color-800: #373737;
  --gray-color-900: #282828;
  --white-color: #fff;
  --font-lable: 1rem;
  --font-p: 1.25rem;
  --txt-btn: 1rem;
  --font-h3: 1.625rem;
  --font-h4: 1.3rem;
}
/* End Variables */

/* Start booking details */
.booking_details_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.booking_details_content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
}
.booking_details_content h3 {
  font-size: var(--font-h3);
  color: var(--main-color-700);
}
.booking_details_modal_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.modal_btn {
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

/* success modal */
.booking_success_container {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}
.booking_success_content {
  background-color: white;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  width: 350px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.success_icon img {
  width: 52px;
  height: 52px;
  margin: auto;
}
.success_text {
  font-size: 18px;
  margin-bottom: 20px;
}
.details_btn {
  width: 100%;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* End booking details */
