/* Start Variables */
:root {
  --main-color-700: #026aa2;
  --second-color: #eff9ff;
  --red-color: #ff0000d2;
  --gray-color-400: #afafaf;
  --gray-color-700: #515151;
  --gray-color-800: #373737;
  --gray-color-900: #282828;
  --white-color: #fff;
  --font-lable: 1rem;
  --font-p: 1.25rem;
  --txt-btn: 1rem;
  --font-h3: 1.625rem;
  --font-h4: 1.3rem;
}
/* End Variables */



/* Start porfile */
.profile_container{
    width: 90%;
    margin: auto;
}
.profile_container h3{
  color: var(--main-color-700);
  margin-bottom: 4px;
}
.profile_photo_info{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid var(--main-color-700);
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 16px;
  margin-top: 16px;
}
.profile_photo_info_right{
  display: flex;
  align-items: center;
  gap: 16px;
}
.profile_photo_info_right img{
  width: 160px;
}
.profile_photo_info_left{
  position: relative;
}
.profile_photo_info_left img{
  cursor: pointer;
}
.dropdown_container{
  position: absolute;
  width: 200px;
  left: 0;
  background-color: var(--white-color);
  box-shadow: 5px 5px 10px var(--gray-color-400);
  padding: 8px;
  z-index: 100;
}
.dropdown_container ul{
  list-style: none;
}
.dropdown_container li{
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.dropdown_container span img{
  width: 16px;
}
.profile_personal_info{
  border: 1px solid var(--main-color-700);
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 16px;
}
.profile_personal_info_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile_personal_info_table{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 16px;
}

.profile_location_info{
  border: 1px solid var(--main-color-700);
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 16px;

}
.profile_location_info_table{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.save_btn{
  width: 60%;
  margin: auto;
  text-align: center;
  margin-bottom: 16px;
}

/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
  .profile_photo_info_right img{
    width: 100px;
  }
  .profile_personal_info_table{
    grid-template-columns: 1fr;
  }
  .profile_location_info_table{
    grid-template-columns: 1fr;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
  .profile_photo_info_right img{
    width: 120px;
  }
  .profile_personal_info_table{
    grid-template-columns: 1fr;
  }
  .profile_location_info_table{
    grid-template-columns: 1fr;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{
}
/* End porfile */