:root
{
    --main-color-700: #026AA2;
    --gray-color-400: #AFAFAF;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
    --white-color: #fff;
    --font-p: 1.25rem;
    --txt-btn: 1rem;
    --font-h3: 1.625rem;
    --font-h4: 1.3rem;
}
/* End Variables */




/* Start Platform Auth Component */
.platform_auth_container{

}
.platform_auth_container p:first-child{
    text-align: center;
}
.platform_auth_icons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    margin-bottom: 16px;
}
.platform_auth_icons img{
    padding: 0.5rem 3rem;
    border-radius: 4px;
    border: 1px solid var(--main-color-700);
    cursor: pointer;
    margin: 16px 0px 0px 0px;
}
.tail{
    text-align: center;
}
.tail span{
    color: var(--main-color-700);
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 160px;
}


/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .platform_auth_container p:first-child{
        font-size: 0.9rem;
    }
    .platform_auth_icons img{
        max-width: 90px;
        padding: 0.5rem 2rem;
        margin: 16px 0px 0px 0px;
    }
    .tail{
        font-size: 0.8rem;
    }

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .platform_auth_container p:first-child{
        font-size: 0.9rem;
    }
    .platform_auth_icons img{
        max-width: 100px;
        padding: 0.5rem 2.5rem;
        margin: 16px 0px 0px 0px;
    }
    .tail{
        font-size: 0.8rem;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{
    .platform_auth_container p:first-child{
        font-size: 0.9rem;
    }
    .platform_auth_icons img{
        max-width: 100px;
        padding: 0.5rem 2.5rem;
        margin: 16px 0px 0px 0px;
    }
    .tail{
        font-size: 0.8rem;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{
    .platform_auth_container p:first-child{
        font-size: 0.9rem;
    }
    .platform_auth_icons img{
        max-width: 100px;
        padding: 0.5rem 2.5rem;
        margin: 16px 0px 0px 0px;
    }
    .tail{
        font-size: 0.8rem;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{
    .platform_auth_container p:first-child{
        font-size: 0.9rem;
    }
    .platform_auth_icons img{
        max-width: 100px;
        padding: 0.5rem 2.5rem;
        margin: 16px 0px 0px 0px;
    }
    .tail{
        font-size: 0.8rem;
    }
}
/* End Platform Auth Component */