/* Start Variables */
:root
{
    --main-color-700: #026AA2;
    --gray-color-400: #AFAFAF;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
    --white-color: #fff;
    --font-p: 1.25rem;
    --font-h3: 1.625rem;
}
/* End Variables */





/* Start Footer */
.section{

}
.footer_container{
    width: 90%;
    margin: auto;
    padding: calc(16* 8px) 0px 0px 0px;
}
.footer_content{

}
/* Top */
.footer_Title{
    text-align: center;
    margin-bottom: calc(16*5px);
}
.footer_Title img{

}
.footer_Title p{
    font-size: var(--font-p);
    width: 60%;
    margin: auto;
}
/* End */
.footer_End{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid gray;
    padding: 16px 0px;
}
.footer_End p{
    color: var(--gray-color-600);
}
.footer_social_icon{
    display: flex;
}
.footer_social_icon img{
    margin-left: 24px;
    width: calc(8*4px);
    cursor: pointer;
}





/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .footer_End{
        flex-direction: column-reverse;
    }
    .footer_End p{
        text-align: center
    }
    .footer_social_icon img{
        margin: 0px calc(8*3px);
        margin-bottom: 18px;
    }

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .footer_End{
        flex-direction: column-reverse;
    }
    .footer_End p{
        text-align: center
    }
    .footer_social_icon img{
        margin: 0px calc(8*3px);
        margin-bottom: 18px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End Media Query */
/* End Footer */