/* Start Variables */
:root {
    --main-color-700: #026aa2;
    --second-color: #eff9ff;
    --red-color: #ff0000d2;
    --gray-color-400: #afafaf;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
    --white-color: #fff;
    --font-lable: 1rem;
    --font-p: 1.25rem;
    --txt-btn: 1rem;
    --font-h3: 1.625rem;
    --font-h4: 1.3rem;
  }
/* End Variables */





/* Start edit Password */
.editpassword_container{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.editpassword_content{
    width: 75%;
    margin: auto;
}
/* Title Component Here */
/* Form */
.editpassword_form{

}
/* Button */
.edit_password_button{
    width: 100%;
    margin: 24px 0px;
}
.forget_password {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}
.error{
    color: var(--red-color);
    font-weight: 600;
}
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .editpassword_container{
        height: 100vh;
    }
    .editpassword_content{
        width: 100%;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .editpassword_container{
        height: 100vh;
    }
    .editpassword_content{
        width: 100%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{
    .editpassword_container{
        height: 100vh;
    }
    .editpassword_content{
        width: 80%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{
    .editpassword_content{
        width: 100%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End edit Password */