/* Start Variables */
:root
{
    --main-color-700: #026AA2;
    --second-color: #EFF9FF;
    --gray-color-400: #AFAFAF;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
    --white-color: #fff;
    --font-p: 1.25rem;
    --txt-btn: 1rem;
    --font-h3: 1.625rem;
    --font-h4: 1.3rem;
}
/* End Variables */





/* Start New Password */
.newpassword_container{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newpassword_content{
    width: 75%;
    margin: auto;
}
/* Title */
.newpassword_title{
    text-align: center;
}
.newpassword_title img{

}
.newpassword_title h3{
    font-size: var(--font-h3);
}
.newpassword_title p{
    font-size: var(--font-p);
}
/* Form */
.newpassword_form{

}
.newpassword_input{
    position: relative;
}
.newpassword_input span{
    position: absolute;
    left: 10px;
    top: 57px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--gray-color-400);
    font-size: 20px;
}
.newpassword_input input{
    padding: 12px 8px;
    border: 1px solid var(--gray-color-700);
    border-radius: 4px;
}
.newpassword_input input:focus{
    border: 1px solid var(--main-color-700);
    outline: none;
}
.newpassword_form button{
    background-color: var(--main-color-700);
    padding: 5px 18px;
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    font-size: var(--txt-btn);
    width: 100%;
    margin: 24px 0px;
    border-radius: 4px;
    text-align: center;
}
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .newpassword_container{
        height: 100vh;
    }
    .newpassword_content{
        width: 100%;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .newpassword_container{
        height: 100vh;
    }
    .newpassword_content{
        width: 100%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{
    .newpassword_container{
        height: 100vh;
    }
    .newpassword_content{
        width: 80%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{
    .newpassword_content{
        width: 100%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End New Password */