/* Start Variables */
:root
{
    --main-color-700: #026AA2;
    --gray-color-400: #AFAFAF;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
    --white-color: #fff;
    --font-p: 1.25rem;
    --txt-btn: 1rem;
    --font-h3: 1.625rem;
    --font-h4: 1.3rem;
}
/* End Variables */





/* Start NavBar Component */
nav{
    width: 100%;
    background-color: var(--white-color);
    position: fixed;
    top: 0; 
    z-index: 1;
}
.nav_container{
    width: 90%;
    margin: 16px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    cursor: pointer;
}
.mobile_menu{
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu li{
    list-style: none;
    margin: 0px 5px;
    cursor: pointer;
    font-size: var(--font-p);
    margin: 0px 16px;
}
.active {
    color: var(--main-color-700);
    border-bottom: 2px solid var(--main-color-700);
    /* font-weight: bold; */
}
.auth_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.auth_btns button{
    margin: 0px 2px;
}
.userLoggedIcon{
    border: 0;
    background-color: var(--white-color);
    cursor: pointer;
}
/* Arrow */
.menu {
    /* position: relative; */
}

.navItem {
    /* position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 8px 12px; */
}

.arrowContainer {
    position: relative;
    align-items: center;
}

.arrowIcon {
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.arrowContainer:hover .arrowIcon {
    transform: rotate(180deg);
}

.dropdownMenu {
    position: absolute;
    top: 90%;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    min-width: 110px;
    z-index: 100;
}

.dropdownMenu li {
    font-size: 0.8rem;
    padding: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.dropdownMenu li:hover {
    background: rgba(2, 106, 162, 0.05);
    border-radius: 6px;
}


/* Start media query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .mobile_menu{
        display: flex;
    }
    .menu{
        display: none;
        width: 100%;
        height: 92.5vh;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--white-color);
    }
    .menu ul{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }
    .auth_btns{
        display: none;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .mobile_menu{
        display: flex;
    }
    .menu{
        display: none;
        width: 100%;
        height: 92.5vh;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--white-color);
    }
    .menu ul{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }
    .auth_btns{
        display: none;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{
    .mobile_menu{
        display: flex;
    }
    .menu{
        display: none;
        width: 100%;
        height: 92.5vh;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--white-color);
    }
    .menu ul{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }
    .auth_btns{
        display: none;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{
    .menu li{
        font-size: 1rem;
        margin: 0px 6px;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End media query */
/* End NavBar Component */