/* Start Variables */
:root
{
    --main-color-700: #026AA2;
    --gray-color-400: #AFAFAF;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
    --white-color: #fff;
    --hover-color: #007bff1a;
    --font-p: 1.25rem;
    --txt-btn: 1rem;
    --font-h3: 1.625rem;
    --font-h4: 1.3rem;
}
/* End Variables */





/* Start NavBar Component */
nav{
    width: 100%;
    background-color: var(--white-color);
    /* position: fixed; */
    position: sticky;
    top: 0; 
    z-index: 1;
}
.nav_container{
    width: 90%;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    cursor: pointer;
}
.mobile_menu{
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu li{
    list-style: none;
    margin: 0px 5px;
    cursor: pointer;
    font-size: var(--font-p);
    margin: 0px 16px;
}
.menu_btns{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 340px;
}
.menu_main_btns{
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
    gap: 32px;
}
.active {
    color: var(--main-color-700);
    border-bottom: 2px solid var(--main-color-700);
}
.auth_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.auth_btns button{
    margin: 0px 2px;
}
.userLoggedIcon{
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--hover-color);
    cursor: pointer;
}
.activeButton{
    background-color: var(--main-color-700);
}

/* Arrow Up Down */
.container_arrow {
    position: relative;
}
.arrow_icon{
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s ease;
}
.container_arrow:hover .arrow_icon {
    transform: rotate(180deg);
}
.menu_dropdown_arrow{
    position: absolute;
    top: 90%;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-width: 100px;
    z-index: 1;
}
.menu_dropdown_arrow li {
    width: 70%;
    font-size: 0.8rem;
    padding: 4px;
    cursor: pointer;
    transition: 0.3s ease;
}
.menu_dropdown_arrow li:hover {
    background: var(--hover-color);
    border-radius: 6px;
}
/* Setting Menu */
.auth_btns{
    position: relative;
}
.menu_dropdown_settings {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 180px;
    z-index: 1;
}
.menu_dropdown_settings li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}
.menu_dropdown_settings li:hover {
    background: var(--hover-color);
    border-radius: 6px;
}



/* Start media query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .mobile_menu{
        display: flex;
    }
    .menu{
        display: none;
        width: 100%;
        height: 92.5vh;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--white-color);
    }
    .menu ul{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }
    .auth_btns{
        display: none;
    }
    .menu_dropdown_arrow{
        right: 0;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .mobile_menu{
        display: flex;
    }
    .menu{
        display: none;
        width: 100%;
        height: 92.5vh;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--white-color);
    }
    .menu ul{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }
    .auth_btns{
        display: none;
    }
    .menu_dropdown_arrow{
        right: 0;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{
    .mobile_menu{
        display: flex;
    }
    .menu{
        display: none;
        width: 100%;
        height: 92.5vh;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--white-color);
    }
    .menu ul{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }
    .auth_btns{
        display: none;
    }
    .menu_dropdown_arrow{
        right: 0;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{
    .menu li{
        font-size: 1rem;
        margin: 0px 6px;
    }
    .menu_btns{
        display: none;
    }
    .menu_main_btns{
        display: none;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{
    .menu_btns{
        display: none;
    }
    .menu_main_btns{
        display: none;
    }
}
/* End media query */
/* End NavBar Component */