/* Start Variables */
:root
{
    --main-color-700: #026AA2;
    --second-color: #EFF9FF;
    --red-color: #ff0000d2;
    --gray-color-400: #AFAFAF;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
    --white-color: #fff;
    --font-p: 1.25rem;
    --txt-btn: 1rem;
    --font-h3: 1.625rem;
    --font-h4: 1.3rem;
}
/* End Variables */





/* Start Input Password Element */
.input_element_container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}
.input_element_container label{
    font-size: var(--font-p);
    font-weight: bold;
}
/* Input */
.input_element{
    width: 100%;
    position: relative;
}
.input_element input{
    width: 100%;
    font-size: var(--txt-btn);
    padding: 8px 48px 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--gray-color-400);
}
.input_element input:focus{
    border: 1px solid var(--main-color-700);
    outline: 1px solid var(--main-color-700);
}
.input_element img{
    width: 16px;
    position: absolute;
    right: 16px;
    bottom: 50%;
    transform: translateY(50%);
}
/* Error */
.error{
    position: absolute;
    top: 100%;
    right: 0;
    font-weight: bold;
    font-size: var(--font-p);
    color: var(--red-color);
    line-height: 18px;
}
/* End Input Password Element */