/* Start General Rules */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", serif;
}
/* End General Rules */

/* إنشاء ستايل الـ Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* تصميم نص التولتيب */
  .tooltip::after {
    content: attr(data-title); /* جلب النص من data-title */
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  
  /* عرض التولتيب عند تمرير الماوس */
  .tooltip:hover::after {
    opacity: 1;
  }
  